<section class="contato" id="contato">

  <h1 class="titulo-secao">
    Contato
  </h1>

  <div class="box-960 justify-center smaller-960">
    <div class="formulario flex column">
    <label for="nome">Nome</label>
    <input type="text" id="nome">
    <label  class="pt-15" for="email">e-mail</label>
    <input type="email" id="email">
    <label  class="pt-15" for="telefone">Telefone</label>
    <input type="number" id="telefone">
    <label  class="pt-15" for="mensagem">Mensagem</label>
    <textarea name="" id="mensagem" cols="30" rows="10"></textarea>
    <button type="submit">Enviar</button>
    </div>
    <div class="texto-contato flex-1 pl-30">

      <p class="formacao pb-35 pt-30">Está disponível para novos desafios na área de <strong>front-end</strong>, assim como para <strong>freelas</strong> na mesma área.</p>

        <p class="formacao pb-35">Espera a oportunidade certa para abraçar.</p>
        
          <p class="formacao pb-35">Mora na cidade de <strong>Curitiba/PR</strong>, mas não descarta um <strong>job remoto!</strong></p>
        
            <p class="formacao pb-35">Visite as <strong>redes sociais</strong>, caso ainda tenha alguma dúvida com relação à cursos e competências profissionais...</p>
        
              <p class="formacao pb-35">Fique a vontade de entrar em contato, tirando outra dúvidas, e, quem sabe convidando-o para um café.</p>
        
                <p class="formacao">Afinal, café e códigos têm tudo a ver. </p>

    </div>
  </div>

</section>