<!-- Footer -->
<footer class="footer">
  <div class="box-960 justify-between smaller-960 mobile-footer">
    <div class="logo flex items-center">
      <img src="img/logo-footer.svg" alt="Logo do footer">
      <a href="index.html">emersonleite.dev</a>
    </div>
    <p class="direito self-center">nenhum direito reservado</p>
    <ul class="flex social">
      {% for social in site.data.social %}
      <li><a href="{{social.href}}"><img src="img/{{social.img}}" alt="{{social.name}}"></a></li>
     {% endfor %}
    </ul>
  </div>
</footer>