<head>
  <meta charset="UTF-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0, shrink-to-fit=no "
  />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <meta
    name="description"
    content="Compre a sua bicicleta personalizada na Bikcraft. Possuímos modelos passeio, retrô e esporte"
  />

  <meta property="og:type" content="website" />
  <meta property="og:title" content="..." />
  <meta property="og:description" content="..." />
  <meta property="og:url" content="http://teste.com" />
  <meta property="og:image" content="teste/og-image.png" />

  <link
    href="https://fonts.googleapis.com/css?family=Hammersmith+One&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css?family=Montserrat&display=swap"
    rel="stylesheet"
  />

  <link rel="shortcut icon" href="favicon.ico" />

  <link rel="stylesheet" href="css/style.css" />
  <link rel="stylesheet" href="css/custom.css" />

  <title>Emerson Leite</title>
</head>
