<header class="header">
  <div
    class="box-960 pt-10 pb-10 justify-between items-center smaller-960 menu-543"
  >
    <a href="/"><img src="img/logo.svg" alt="logo Emerson"/></a>
    <nav>
      <ul class="flex wrap">
        <!--<li><a href="#sobre">sobre</a></li>-->
        <li><a href="posts">posts</a></li>
        <li><a href="/#portfolio">portfólio</a></li>
        <li><a href="/#certificados">certificados</a></li>
        <li><a href="/#contato">contato</a></li>
      </ul>
    </nav>
  </div>
</header>
