<!--Portfólio-->
<section id="portfolio" class="portfolio pb-30">
  <h1 class="titulo-secao titulo-portfolio pt-50">
    Portfólio
  </h1>
  <div class="box-960 lista-portfolio">
    <div class="row-960">
      <ul class="flex justify-center wrap">
        {% for portfolio in site.data.portfolio %}
        <li>
          <a href="{{portfolio.href}}"
            ><img src="img/{{portfolio.img}}" alt="{{portfolio.name}}"
          /></a>
          <h2>{{portfolio.name}}</h2>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="box-960">
  <iframe
     src="https://codesandbox.io/s/emerson01-fcc1c?autoresize=1&fontsize=14&hidenavigation=1"
     style="width:100%; height:300px; border:0; border-radius: 4px; overflow:hidden;"
     title="compassionate-breeze-fcc1c"
     allow="geolocation; microphone; camera; midi; vr; accelerometer; gyroscope; payment; ambient-light-sensor; encrypted-media; usb"
     sandbox="allow-modals allow-forms allow-popups allow-scripts allow-same-origin"
   ></iframe>

   <iframe height="265" style="width: 100%;" scrolling="no" title="grid-flex" src="https://codepen.io/engleite/embed/xxbGxLq?height=265&theme-id=dark&default-tab=html,result" frameborder="no" allowtransparency="true" allowfullscreen="true">
    See the Pen <a href='https://codepen.io/engleite/pen/xxbGxLq'>grid-flex</a> by engleite
    (<a href='https://codepen.io/engleite'>@engleite</a>) on <a href='https://codepen.io'>CodePen</a>.
  </iframe>
  
  <iframe width="100%" height="300" src="//jsfiddle.net/emerson_bl7/qh65brvp/embedded/html,css,result/dark/" allowfullscreen="allowfullscreen" allowpaymentrequest frameborder="0"></iframe>

  </div>
</section>
