<!--Head-->
<head>

  {% include analytics.html %}

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <meta name="{{ site.baseurl }}" content= "{{ site.baseurl }}"/>

  <meta property="og:type" content="website"/>
  <meta property="og:title" content="{{ site.title }}"/>
  <meta property="og:description" content="{{ site.description }}"/>
  <meta property="og:url" content="{{ site.url }}"/>
  <meta property="og:image" content="./img/Foto.png"/>

  <!-- Link para fontes -->

  <link href="https://fonts.googleapis.com/css?family=Hammersmith+One&display=swap" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">

 
  <link rel="stylesheet" type="text/css" href="./css/style.css"/>
  <link rel="stylesheet"  type="text/css" href="./css/custom.css"/>

  <!-- Link favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/favicon/favicon-16x16.png">
  <link rel="manifest" href="{{ site.baseurl }}/favicon/site.webmanifest">

  <title>{{ site.title }}</title>
</head>
<!--Fim de Head-->