<!--Portfólio-->
<section class="caixa-titulo-secao portfolio">
  <h1 data-accordion-boolean="true" class="titulo-portfolio" id="portfolio">
    Portfólio
  </h1>
</section>
<section class="portfolio pb-30">
  <div class="box-960 lista-portfolio">
    <div class="row-960">
      <ul class="flex justify-center wrap">
        {% for portfolio in site.data.portfolio %}
        <li>
          <a href="{{ site.baseurl }}/{{portfolio.href}}" target="_blank"
            ><img src="img/{{portfolio.img}}" alt="{{portfolio.name}}"
          /></a>
          <h2>{{portfolio.name}}</h2>
        </li>
        {% endfor %}
        <li>
          <a href="https://www.emersonleite.dev" target="_blank"><img src="img/emerson.png" alt="Emerson Leite"></a>
          <h2>Emerson Leite</h2>
        </li>
        <li>
          <a href="https://www.unna.eng.br" target="_blank"><img src="img/unna.png" alt="Unna Engenharia"></a>
          <h2>Unna Engenharia</h2>
        </li>
      </ul>
      <p class="note">* Desenvolvidos durante cursos da <a href='http://www.origamid.com' style="color: #9B30F9;">Origamid</a> </p>
    </div>
  </div>
</section>
