{% include head.html %}
  <body>

{% include header.html %}

{% include search.html %}





<!--Portfólio-->
    <section id="portfolio" class="portfolio pb-30">
      <h1 class="titulo-secao titulo-portfolio pt-50">
        Portfólio
      </h1>
      <div class="box-960 lista-portfolio">
        <div class="row-960">
        <ul class="flex justify-center wrap">
          {% for portfolio in site.data.portfolio %}
          <li>
            <a href={{portfolio.href}}><img src="img/{{portfolio.img}}" alt="{{portfolio.name}}"/></a>
            <p>{{portfolio.name}}</p>
          </li>
          {% endfor %}
        </ul>
      </div>
      </div>
    </section>

<!--Certificados-->
    <section class="certificados pb-30" id="certificados">
      <h1 class="titulo-secao">
        Certificados
      </h1>
      <div class="lista-certificados">
        <ul class="box-960 justify-center">
          {% for certificados in site.data.certificados %}
            <li>
              <a href={{certificados.href}}><img src="img/{{certificados.img}}" alt="{{certificados.name}}"></a>
            <p>{{certificados.name}}</p>
            </li>
          {% endfor %}
        </ul>
      </div>
    </section>


<!-- Footer -->
    <footer class="footer">
      <div class="box-960 justify-between smaller-960 mobile-footer">
        <div class="logo flex items-center">
          <img src="img/logo-footer.svg" alt="Logo do footer">
          <a href="index.html">emersonleite.dev</a>
        </div>
        <p class="direito self-center">nenhum direito reservado</p>
        <ul class="flex social">
          {% for social in site.data.social %}
          <li><a href="{{social.href}}"><img src="img/{{social.img}}" alt="{{social.name}}"></a></li>
         {% endfor %}
        </ul>
      </div>
    </footer>

  </body>
</html>
