.footer{
  background: $orangeDark;
}
.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: $maxWidth;
  margin: 0 auto;
 padding: 25px;
}

.footer__copyright {
  color: $grey;
  display: inline-block;
  font-size: 1.5rem;
  font-family: $courier;
  a {
    color: currentColor;
    text-decoration: underline;
    &:hover{
      color: white
    }
  }
}
.footer__social {
  border: solid 2px $grey;
  border-radius: 5px;
  color: $grey;
  cursor: pointer;
  display: inline-block;
  font-size: 1.5rem;
  font-family: $lucida;
  width: 35px;
  height: 35px;
  padding-top: 5px;
  text-align: center;
  &:hover{
    color: white;
    border-color: white;
  }
}