/* Colors */
$grey : #252525;
$black : #000;
$brown : #ad4500;
$brownDark : #9a1e1e;
$green : #8abb02;
$greenDark : #5c7d02;
$orange : #fb6400;
$orangeDark : #ec451a;

/* imports */
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("http://db.onlinewebfonts.com/c/9fd12d8e5f00b9375857951fdf4a9372?family=Lucida+Sans");

/* Fonts */
$courier : "Courier Prime",
monospace;
$lucida : "Lucida Sans",
Arial;

/* Dimensions */
$maxWidth: 960px;