/*----- Header -----*/

.header {
  background: #252525;
  border-bottom: 3px solid #cda112;
}

.header nav ul li {
  font-family: "Hammersmith One", sans-serif;
  text-transform: capitalize;
  font-size: 1.125em;
}

.header nav ul li {
  padding-left: 20px;
}

.header nav ul li a {
  display: block;
  padding: 20px 0px;
}

.header img {
  width: 80px;
  height: 80px;
  align-self: flex-start;
}

/*----- Fim de Header -----*/

/*----- Títulos de seção -----*/

.titulo-secao {
  color: #252525;
  font-family: "Hammersmith One", sans-serif;
  font-weight: normal;
  font-size: 2.25em;
  text-align: center;
  text-transform: uppercase;
  margin-top: 50px;
  margin-bottom: 50px;
}

.titulo-secao::after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background: #cda112;
  border-radius: 50%;
  margin: 0 auto;
  box-shadow: 3px 3px 3px #bdbcbc;
}

/*----- Fim de Títulos de seção -----*/

/*----- Sobre -----*/

.sobre h2 {
  color: #cda112;
  font-family: "Hammersmith One", sans-serif;
  font-weight: normal;
  font-size: 1.5em;
  text-transform: capitalize;
}

.formacao {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
}

.formacao strong {
  color: #cda112;
}

/*----- Fim de sobre -----*/

/*----- Portfólio -----*/

.color-titulo-portfolio {
  color: #cda112;
}

.portfolio {
  background: #252525;
  padding-bottom: 30px;
}

.portfolio img {
  width: 220px;
  border: 5px solid #707070;
  margin-left: 10px;
  margin-right: 10px;
}

.lista-portfolio ul li p {
  color: #cda112;
  font-family: "Hammersmith One", sans-serif;
  font-weight: lighter;
  font-size: 1.5em;
  text-transform: capitalize;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.flex-1-220 {
  flex-basis: 350px;
}

/*----- Fim do Portfólio -----*/

