.header {
  background: #252525;
  border-bottom: 3px solid #CDA112;
}

.header nav ul li {
  font-family: 'Hammersmith One', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
}

.header nav ul li {
  padding-left: 20px;
}

.header img {
  width: 80px;
  height: 80px;
  align-self: flex-start;
}