/* Tela do editor*/
div.editor-box {
  background-color: #2c3e50;
  border-radius: 15px;
  display: flex;
  height: 580px;
  margin-top: 60px;
  padding: 50px;
  position: relative;
  width: 940px;
}

/* Botões */
img.control-run {
  cursor: pointer;
  left: 50px;
  position: absolute;
  top: 460px;
}

img.control-clear {
  cursor: pointer;
  left: 140px;
  position: absolute;
  top: 465px;
}

img.control-reset {
  cursor: pointer;
  left: 240px;
  position: absolute;
  top: 465px;
}

img.control-run:hover {
  width: 75px;
  left: 48px;
  top: 458px;
}

img.control-clear:hover {
  width: 75px;
  top: 463px;
  left: 138px;
}

img.control-reset:hover {
  width: 75px;
  top: 463px;
  left: 238px;
}

/* Areas de texto - input output*/
textarea#console {
  border: none;
  flex: 1;
  background: white;
}

div#result {
  background: #2c3e50;
  border-left: 1px solid white;
  flex: 1;
  overflow: auto;
}

textarea#console {
  height: 400px;
}

span.line-number,
p.line-result {
  margin-left: 40px;
}