/* Footer */
footer.footer {
  height: 90px;
  background-color: #a26b13;
}

.copyright-social {
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

p.copyright {
  color: white;
  font-family: "Montserrat";
  font-size: 1.5em;
  font-weight: bold;
}

p.copyright:hover {
  color: #2c3e50;
  font-weight: bolder;
}


img.github-icon {
  width: 60px;
  cursor: pointer;
}