nav.header-nav {
  display: flex;
  background: #2c3e50;
  height: 90px;
  margin: 0 auto;
}


h1.logo-header {
  display: inline-flex;
  flex: 1;
  font-size: 3em;
  font-family: "Montserrat";
  color: #f39c12;
  align-items: center;
  justify-content: center;
}

