h1.tms {
  font-family: "Montserrat";
  font-size: 4.5em;
  font-weight: bold;
  color: #f39c12;
  margin-top: 100px;
}

h2.editor {
  font-family: "Lora";
  font-size: 3.75em;
  font-weight: bold;
  text-transform: lowercase;
  color: #a26b13;
  margin-top: 0px;
}

span.pointer{
  font-family: "Lora";
  margin-bottom: 8px;
  animation: pointerAnima 1s forwards infinite ;
}

@keyframes pointerAnima {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  49%{
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}