@import '../footer.css';
@import '../header.css';
@import '../reset.css';


.container {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 980px;
}

.project01-container{
  min-height: 700px;
}

form.search-form {
  flex: 2;
}

.input-search {
  color: black;
  width: 100%;
  height: 20px;
  font-size: 1.5em;
  padding: 20px 30px;
  border-radius: 8px;
  border: 3px solid #cda112;
  background: #a3a3a3;
}

.section-header {
  border: 1px solid black;
  flex: 1;
}

.section-data {
  flex: 1;
}