/* Description */

.description__list-1, .description__list-2 {
  margin-top: 30px;
}

.description__arrow {
  display: inline;
}

.description__item {
  color: #a26b13;
  font-weight: bold;
  font-family: "Lora";
  font-size: 2.25em;
  margin-left: 10px;
  padding-top: 30px;
}