/* Footer */
.footer {
  background-color: #a26b13;
  margin-top: 50px;
}

.footer__copyright {
  color: white;
  font-family: "Montserrat";
  font-size: 1.5em;
  font-weight: bold;
}

.footer__copyright :hover {
  color: #2c3e50;
  font-weight: bolder;
}

.footer__repository-image {
  cursor: pointer;
  padding: 16px 0;
  width: 60px;
  
}
